{% extends 'ECommerce/inicio.html' %}
    
{% block main %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <br>
    <br>

    <title>Lista de Clientes</title>
</head>
<body>
    <center>
        
        <br>
        <br>
    
    
    <FONT SIZE=10>Clientes</FONT>
    
    <ul>
        <br>
        <br>
        {% for cliente in object_list %}

            <li>
                <p>{{ cliente.nombre }} {{ cliente.apellido }} 
                <a href="{% url 'DetalleC' cliente.id %}">Ver</a> - <a href="{% url 'EditarC' cliente.id %}">Editar</a>- <a href="{% url 'BorrarC' cliente.id %}">Borrar</a></p>
        
            </li>
        
        {% endfor %}

        
        <a class="btn-cart welcome-add-cart welcome-more-info" href="{% url 'NuevoC' %}">Agregar nuevo Cliente</a>
        <br>
        <a class="btn-cart welcome-add-cart welcome-more-info" href="{% url 'index' %}">Regresar</a>
    
    </center>
    </ul>

</body>

</html>
{% endblock main %}