<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Compra X Producto</title>
</head>
<body>
    <form method="post">{% csrf_token %}
        ¿Queres borrar la Compra X Producto "{{ object.id }}"?
        <br>
        <br>
        <input type="submit" value="Confirmar" /> <a href="{% url 'ListaCXP' %}">No</a>
        

    </form>



</body>
</html>