{% extends 'ECommerce/inicio.html' %}
    
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Empresa</title>
</head>
<body>
    <center>
        
       <br>
       <br>
       <br>
       <br>
       <br>
       <h2>Sobre nosotros</h2>
        <br>
        <p>Grodek Corporation S.A.</p>
        <p>Grupo 3</p>
        <P>Integrantes: Nicolas Corbelle - Santiago Bejarano - Nelson Rodriguez</P>
        
    <p>
        <a href="{% url 'index' %}">Regresar</a>
    </p>
</center>
</body>
</html>
{% endblock main %}