{% extends 'ECommerce/inicio.html' %}
    
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vendedores</h1>
    <ul>

        {% for vendedor in object_list %}

            <li>
                <p>{{ vendedor.nombre }} {{ vendedor.apellido }} 
                <a href="{% url 'DetalleV' vendedor.id %}">Ver</a> - <a href="{% url 'EditarV' vendedor.id %}">Editar</a>- <a href="{% url 'BorrarV' vendedor.id %}">Borrar</a></p>
        
            </li>
        
        {% endfor %}

        <a href="{% url 'NuevoV' %}">Agregar nuevo vendedor</a>
        <br>
        <br>
        <a href="{% url 'index' %}">Regresar</a>
    </ul>
</body>
</html>
{% endblock main %}